[Desktop Entry]
Name=AppSweep
Comment=Safely remove applications and associated data
Exec=appsweep
Icon=tech.shoaib.AppSweep
Terminal=false
Type=Application
Categories=System;
Keywords=uninstall;remove;cleanup;apt;snap;flatpak;
StartupNotify=true
StartupWMClass=tech.shoaib.AppSweep
